.form {

  width: 900px;
  color: $basic-white;
  margin: 0 auto;

  // .form__table
  &__table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid $border-color;
    background-color: $table-background-color;
  }

  // .form__table-row
  // .form__table-title
  // .form__table-cell
  &__table-row,
  &__table-title,
  &__table-cell {
    padding: 15px;
  }

  &__table-title {
    text-align: left;
    border: 2px solid $border-color;
  }

  &__table-cell {
    height: 120px;
    border: 2px solid $border-color;
    vertical-align: top;
  }

  // form__btn-wrapper
  &__btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}