.main-content {

  // main-content__container
  &__container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    @media (max-width: 1460px) {
      flex-direction: column;
    }
  }
}