.main-select {
  width: 170px;
  padding: 5px 5px;
  border-radius: 5%;
  background-color: $basic-white;
  color: $basic-black;
  border: 2px solid $border-input-color;
  font-size: $btn-size;
  font-family: $roboto;
}