.page-header {
  min-height: 100px;
  background-color: $main-header;

  // page-header__container
  &__container {
    text-align: center;
    color: $basic-white;
    font-size: $title-size;
    padding: 10px 10px;
    min-height: inherit;
  }
}