// Переменные цветов
$basic-white: #ffffff;

// Переменные вьюпортов
$tablet-width: 1159px;

// Переменные шрифтов
$roboto: 'Roboto', 'Verdana', sans-serif;

// Размер шрифта
$main-size: 18px;

// Тип начертания шрифта (жирность)
$roboto-regular: 400;
$roboto-medium: 500;
$roboto-bold: 700;

// Высота строки (интерлиньяж)
$main-interlining: 32px;